<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="custom:importdocument" type="PizzaEnergyCoders.Commands.ImportDocument, PizzaEnergyCoders"/>
        </commands>
        <settings>
            <!--  DO NOT change this value.  It gets changed as part of the release process -->
            <setting name="Foundation.HomePath" value="/sitecore/content/Home"/>
            <setting name="Project.TemplatesPath" value="/sitecore/templates/Project/"/>
            <setting name="Foundation.StandardValuesTemplate" value="4BCF7ED9-BD8A-4A38-80EE-7AAC831E6F25"/>
        </settings>
    </sitecore>
</configuration>
